body  {
        box-sizing: border-box;
        font: 14px/1.7 'PT Sans Caption', sans-serif;
    margin:0;
    padding: 0; 
}

nav {
      box-sizing: border-box;
     padding:auto 10px;
  border: 2px solid red;
  text-align: right;
  position: fixed;
  height: 60px;
  background-color: black;
  width:100%;
  left:0;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	text-decoration:none;
	color:white;
	margin-left:40px;
	margin-right: 40px;
}

.icon{
  width:100px;
  position:absolute;
  left:75px;
  border-radius:50%;
  border:1px solid black;
  margin-top:10px;
}


.first-look{
	border:2px solid black;
	background-color: green;
	padding-top: 5%;
	background-image: url("https://cdn.londonandpartners.com/visit/london-organisations/alexandra-palace/92923-640x360-alexandra-palace-gig-640.jpg");
	background-size: cover;
  height:300px;
  background-position: 0 55%; /* To crop the image*/
	font-weight: 900;
	z-index: -1;
}

.first-look header h1{
	text-align: center;
	font-size: 70px;
	color:black;

}

form{
	width: 100%; 
  margin: auto;
  text-align: center;
  background-color: #E1F5A9;
  /*background-color: #FF6600 ;*/
  /*background-color: rgba(249, 104, 8, 0.82);*/
  /*background-color: #f54a19;*/
  /*background-color: #f7714c;*/
  /*background-color: #fb673f;*/
  /*background-color: #fb5427;*/
  /*background-color: skyblue;*/

  /*background-color: #f92b2b;*/

  /*border: 2px solid black;*/
}
form input{
  height:20px;
}

.location label{
  
}



.date label {
  /*font-size: 12px;*/
  padding-top: 0; 


}

form #location{
  text-align: center;
  margin-right: 80px;
  margin-left: 10px;
  margin-top: 5%; 

}

#quiz input{
  border-radius: 3x;
  width: 286px;
}

form #keyword{
  text-align: center;
  margin-left:10px;
  margin-top: 5%; 
  margin-right: 10px;
}
  /*form .date{
  padding-top:10px;
  text-align: center;
  margin-right: 80px;
  margin-left: 30px;
 }*/

form #start_date{
  text-align: center;
  margin-right: 50px;
  margin-left: 10px;
  margin-top: 30px; 


}
 form #end_date{
  text-align: center;
  margin-left:10px;
  margin-top: 30px;
  margin-right: 20px;
 }

.distance #miles{
  height:30px;
  /*margin-top: 30px;*/
  margin-left: 10px;
  padding-left: 10px;
  padding: 0;
  /*vertical-align: middle;*/
}


 button{
  border-radius:4px;
  width: 280px;
  height: 32px;
  border:1px solid #DDDDDD;
}

button[name=search-button]{
  background-image:url(https://tf-assets-prod.s3.amazonaws.com/tf-curric/WEB-DEV-001/2.4.6_challenge_design_to_code/magnifying-glass.png); 
  background-position:center;
  margin-left: 20px;/*no change even if i remove it, but if i increase px it will change*/
  width:40px;
  background-size: 32px; 
  margin-top: 60px;
  margin-bottom: 60px;
  height: 32px;
  vertical-align: middle;
} 

.results{
  /*background-color: orange;*/
  
  /*color:purple;*/
  /*border:2px solid black;*/
}

.results h1{
  padding-left: 10px;
}

.result-displayed{
  padding-left: 20px;
  display: inline-block;
}

.js-date h4{
  margin-left: 0;
}
.js-search-results{
  padding-left: 20px;
  /*border:5px solid black;*/
}

h2{
  display: inline-block;
}
#rating{
  margin-top: 0;
  margin-left: 5px;
  width: 110px;
  display: inline-block;
  background-color: white;
}

.border { 
  border: 1px solid blue;
  
  
  /*padding-top:260px;*/
  margin:0 auto;
 }

.prev{
  display: inline-block;
}
.next{
  display: inline-block;
  margin-left: 1250px;
}