body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav {
  box-sizing: border-box;
  padding:auto 10px;
  border: 2px solid red;
  text-align: right;
  position: fixed;
  height: 60px;
  background-color: black;
  width:100%;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	text-decoration:none;
	color:white;
	margin-left:30px;
	margin-right: 30px;
}

.icon{
  width:100px;
  position:absolute;
  left:75px;
  border-radius:50%;
  border:1px solid black;
  margin-top:10px;
}

.about-icon{
	margin:auto 200px;
}

.about{
	text-align: center;
	color:darkblue;*/
}
.about-events{
	color:maroon;
	font-size: 18px;
}