body  {
        box-sizing: border-box;
        font: 14px/1.7 'PT Sans Caption', sans-serif;
        margin:0;
        padding: 0; 
        background-color: #E1F5A9;

}

nav {
      box-sizing: border-box;
      padding:auto 10px;
      border: 2px solid red;
      text-align: right;
      position: fixed;
      height: 60px;
      background-color: black;
      width:100%;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  text-decoration:none;
  color:white;
  margin-left:40px;
  margin-right: 40px;
}

nav ul li a:hover{
  color: red;
}

.current{
  color:red;
}

/*nav ul li a#home{
  text-decoration:none;
  color:white;
  margin-left:80px;
  padding-left: 10px;
  margin-right: 10px;
}

nav ul li a#about{
  text-decoration:none;
  color:white;
  margin-left:140px;
  margin-right: 10px;
}

nav ul li a#login{
  text-decoration:none;
  color:white;
  margin-left:140px;
  margin-right: 10px;
}*/



.icon{
  width:100px;
  position:absolute;
  left:75px;
  border-radius:50%;
  border:1px solid black;
  margin-top:10px;
}

#menu-icon{
  display: hidden;*/
  width:40px;
  height:40px;
  background: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjjufDnqs3WAhUJfiYKHVf7AuIQjRwIBw&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FHamburger_button&psig=AOvVaw2HNqSax04URzctiFcQRPJ3&ust=1506875493855910") center;
}

a:hover#menu-icon{
  border-radius: 4px 4px 0 0;
}

.first-look{
  border:2px solid black;
  background-color: green;
  padding-top: 5%;
  background-image: url("https://cdn.londonandpartners.com/visit/london-organisations/alexandra-palace/92923-640x360-alexandra-palace-gig-640.jpg");
  background-size: cover;
  /*height:375px;*/
  background-position: 0 55%; /* To crop the image*/
  font-weight: 900;
  z-index: -1;
}

.first-look header h1{
  text-align: center;
  font-size: 70px;
  color:black;

}

form{
  width: 100%; 
  text-align: center;
  /*background-color: #E1F5A9;*/
  height: 320px; 
  margin:0 auto;
  /*margin-top: 70px;*/
  border-bottom: 1px solid #E1F5A9;

}
form input{
  height:20px;
}

.col-6>div{
  margin-top:70px;
}
form #location{
  text-align: center;
  /*margin-left: 10px;*/
  /*margin-top:70px;*/
    /*margin-right: 10px;*/
    /*margin-right: 10px;*/

}

#search input{
  /*border-radius: 3px;*/
  width: 286px;
}

label{
  display:inline-block;
  margin-right: 10px;
}

form #keyword{
  text-align: center;
  margin-left: 30px;
  /*margin-right: 20px;*/
  /*margin-left:20px;*/
  /*margin-right: 30px;*/
  /*padding-left: 30px;
  /*margin-left:10px;*/
  /*margin-top: 70px; */
}
  
form #start_date{
  text-align: center;
  /*margin-left: 10px;*/
  /*margin-top: 50px; */


}
 form #end_date{
  text-align: center;
  /*margin-left:10px;*/
  /*margin-top: 50px;*/
 }

.distance{
    height:30px;
} 

#miles{
  height:30px;
  /*margin-left: 10px;*/
  vertical-align: middle;
}


 button{
  border-radius:4px;
  width: 280px;
  height: 32px;
  border:1px solid rgb(169,169,169);
}

button[name=search-button]{
  background-image:url(https://tf-assets-prod.s3.amazonaws.com/tf-curric/WEB-DEV-001/2.4.6_challenge_design_to_code/magnifying-glass.png); 
  background-position:center;
  margin-left: 20px;      /*no change even if i remove it, but if i increase px it will change*/
  width:40px;
  background-size: 32px; 
  margin-top: 60px;
  margin-bottom: 60px;
  height: 32px;
  vertical-align: middle;
} 



.results h1{
  padding-left: 10px;
}

.result-displayed{
  padding-left: 20px;
}

.result-displayed h4{
  color:grey;
}

.image{
  float:right;
  margin-right:300px;

}
.result-displayed p{
  color:grey;
  font-weight: 600;
}
.rateYo{
  margin-bottom: 20px;
}

.js-date h4{
  margin-left: 0;
}
.js-search-results{
  padding-left: 20px;
}

h2{
  display: inline-block;
}
#rating{
  margin-top: 0;
  margin-left: 5px;
  width: 110px;
  display: inline-block;
  background-color: white;
}

.border { 
  border: 1px solid grey;
  
  
  /*padding-top:260px;*/
  margin:0 auto;
 }

.prev{
  display: inline-block;
}
.next{
  display: inline-block;
  margin-left: 1250px;
}

.js-search-results{
  margin-top: 19px;
  background-color: white;
  border-bottom: 2px solid black;

}

.results{
  background-color: white;
}
@media only screen and (max-width: 1024px) {
    /* acting like an IF statement, the media query is a set of conditions in which the containing css will be applied
    for example the statament above says: IF the media on which this CSS is going to used is SCREEN (Mobiles, Tables, Laptops, Desktops or Projectors) and the maximum resolution of that device is 1024px, THEN apply the body color blue for all the text
    */
     form #keyword{
  /*text-align: center;*/
  margin-left: 0;
  /*margin-right: 20px;*/
  /*margin-left:20px;*/
  /*margin-right: 30px;*/
    /*padding-left: 30px;
  /*margin-left:10px;*/
  /*margin-top: 70px; */
}
label{
  display:block;
  width:100%;
}
}