body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

nav {
  box-sizing: border-box;
  padding:auto 10px;
  border: 2px solid red;
  text-align: right;
  position: fixed;
  height: 60px;
  background-color: black;
  width:100%;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	text-decoration:none;
	color:white;
	margin-left:30px;
	margin-right: 30px;
}

.icon{
  width:100px;
  position:absolute;
  left:75px;
  border-radius:50%;
  border:1px solid black;
  margin-top:10px;
}

header {
  margin-top:190px; 
  position: absolute;
}

h1{
  text-align: center;
  margin: auto 619px;
}
#signup{
  margin: 280px 480px;
  position:absolute;
  padding-bottom: 50px;
  border: 1px solid black;
  width:250px;
  padding-left:120px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 60px;
  /*text-align: center;*/
}

.fName{
  display: block;
  margin-bottom:20px;

}

.fName label{
  display: block;
  margin-bottom: 5px;

}

.lName{
  display: block;
  margin-bottom:20px;

}

.lName label{
  display: block;
  margin-bottom: 5px;
}

.email-details{
 display: block;
 margin-bottom: 20px;
}

.email-details label{
  display: block;
  margin-bottom: 5px;
}

.password-details{
  display: block;
  margin-bottom: 20px;
}

.password-details label{
  display: block;
  margin-bottom: 5px;
}

.re-password{
  display: block;
  margin-bottom: 20px;
}

.re-password label{
  display: block;
  margin-bottom: 5px;
}
 
input#fName{
    width: 200px;
}

input#lName{
  width: 200px;
}

input#email{
  /*text-align: center;*/
  width: 200px;
}

input#password{
  /*text-align: center;*/
  width: 200px;
}

input#re-password{
  /*text-align: center;*/
  width: 200px;
}

button{
  border-radius:4px;
  width: 150px;
  height: 32px;
  border:1px solid #;
  margin-top: 30px;
  margin-left: 25px;
}